/********** Template CSS **********/
:root {
    --primary: red;
    --light: #f8f9fa;
    --dark: #191C24;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar {
    width: .8rem;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--bs-primary);
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
.pos_login{
    position: relative;
    margin-top:8.5rem;
    margin-left: 9rem;
    margin-right: 9rem;
}
.logo-login{
    position: absolute;
    left: 50%;
    top: -130px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.top-pictures{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    justify-content: center;
    margin-top: 15px;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}


.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--light);
    transition: 0.5s;
    z-index: 1004;
}
.sidebar .logo_sidebar{
    width: 150px;
    height: auto;
}
.content {
    margin-left: 250px;
    min-height: 100vh;
    background: #FFFFFF;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    /* padding: 7px 20px; */
    color: var(--dark);
    font-weight: 500;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: #FFFFFF;
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--light);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}
.sidebar .sidebar-toggler {
    display: none;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
    margin:  5px 10px 0px 10px;
}
.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--dark);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}



/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

/* permission */
.div_perm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.div_perm legend{
    text-align: center;
}
.div_perm .cusSelectbox{
    width: 200px;
}
.div_perm .permissions_check{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    overflow: auto;
    max-height: 300px
}
.div_perm .permissions_check .perm{
    margin-bottom: 10px;
    background: #41464b;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5rem;
    color: #fff;
}
.form-check-input[type=checkbox] {
    margin: 5px;
}
/* couverture medical */
.couv-medic {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.couv-medic .couv input{
    margin-right: 5px;
}
/* violence */
.table2{
    display: flex;
    flex-direction: row;
}
/* Niveau Scolaire */
.Nv-scolaire{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.Nv-scolaire .nv input{
    margin-right: 5px;
}
/* situation familiale */
.situ-familiale{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.situ-familiale .sit_fam input{
    margin-right: 5px;
}
.table th {
    z-index: 4;
}
table tbody tr .actionMenu{
    /* display: none; */
    position: sticky;
    inset-inline-end:-3px;
    background-color: var(--light);;
}
table tbody tr .actionM{
    display: none;
    position: sticky;
    inset-inline-end:-3px;
    background-color: var(--light);;
}
table tbody tr .actionModal{
    display: none;
}
table tbody tr td.actionEdit {
    position: sticky;
    inset-inline-end: 60px;
    background-color: var(--light);
}
table tbody tr td.actionDelete {
    position: sticky;
    inset-inline-end: -2px;
    background-color: var(--light);
}
@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
    table tbody tr .actionV,table tbody tr .actionS,table tbody tr .actionD,table tbody tr .actionU,table tbody tr .userEdit
    ,table tbody tr .userRein,table tbody tr .userDest{
        display: none;
    }
    table tbody tr .actionMenu{
        display: block;
        padding: 45px 20px;
    }
    table tbody tr .actionM{
        display: block;
    }
    .sticky-top{
        z-index: 1000;
    }
    .modal-dialog {
        max-width: 450px;  
        margin: 4.75rem auto;
    }
    table tbody tr .actionModal{
        display: block;
    }
    table tbody tr td.actionEdit {
        position: sticky;
        inset-inline-end: 60px;
        background-color: var(--light);
    }
    table tbody tr td.actionDelete {
        position: sticky;
        inset-inline-end: -2px;
        background-color: var(--light);
    }
    .sidebar .sidebar-toggler{
        display: inline-flex;
    }
    /* .modal-title {
        font-size: 15px;
    }
    .modal-body{
        display: grid;
        grid-template-columns: repeat(2,1fr) !important;
        padding: 5px;
    } */
}
/* Style table */
.table th{
    background-color: var(--bs-primary);
    color: white;
}
.table-height{
    height: auto;
    max-height: 600px;
    overflow-y: scroll;
}
.table-heightPart,.table-heightPlace{
    height: 300px;
    overflow-y: scroll;
}
table thead th {
    position: sticky;
    inset-block-start: -5px;
}
table tbody tr .actionV{
    position: sticky;
    inset-inline-end: 0;
    background-color: var(--light);
}
table tbody tr .actionD{
    position: sticky;
    inset-inline-end: 60px;
    background-color: var(--light);
}
table tbody tr .actionU{
    position: sticky;
    inset-inline-end: 120px;
    background-color: var(--light);
}
table tr .actions {
    position: sticky;
    inset-inline-end: -3px;
    z-index: 100;
}
table tbody tr .userRein{
    position: sticky;
    inset-inline-end:-3px;
    background-color: var(--light);
}
table tbody tr .userDest{
    position: sticky;
    inset-inline-end:61px;
    background-color: var(--light);
}
table tbody tr .userEdit{
    position: sticky;
    inset-inline-end:125px;
    background-color: var(--light);
}
/* zone */
.div_zone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.div_zone legend{
    text-align: center;
}
.div_zone .cusSelectbox{
    width: 200px;
}
.div_zone .zone_check{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    overflow: auto;
    max-height: 300px
}
.div_zone .zone_check .zone{
    margin-bottom: 10px;
    border: 2px solid rgb(219, 139, 139);
    margin-right: 5px;
    padding: 5px;
}
.modal-backdrop{
    display: none;
}
.modal-body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 5px;
}
@media (min-width: 576px){
    .modal-dialog {
        /* max-width: fit-content;    */
        margin: 4.75rem auto;
    }
}
.div_programme{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.div_programme legend{
    text-align: center;
}
.div_programme .programme_check{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    overflow: auto;
    max-height: 300px
}
.div_programme .programme_check .programme{
    margin-bottom: 10px;
    margin-right: 10px;
}
.push {
  height: 50px;
}
.modal-bodyEdit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.alert.success{
    background: var(--bs-success);
    border-left: 15px solid var(--bs-green);
}
.alert.danger{
    background: var(--bs-primary);
    border-left: 15px solid firebrick ;
}
.alert {
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0;
    z-index: 100000;
    color: #fff;
    top: 10px;
    opacity: 0;
    pointer-events: none;
}
@media only screen and (max-width: 575.98px){
.alert {
    min-width: 300px;
}
}
.alert.showAlert{
    opacity: 1;
    pointer-events: auto;
}
.alert.show{
    animation: show_slide 1s ease forwards;
    -webkit-animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }

    40% {
        transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
        -moz-transform: translateX(-10%);
        -ms-transform: translateX(-10%);
        -o-transform: translateX(-10%);
    }

    80% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        -o-transform: translateX(-10px);
    }
}

.alert.hide {
    animation: hide_slide 1s ease forwards;
    -webkit-animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0% {
        transform: translateX(-0%);
        -webkit-transform: translateX(-0%);
        -moz-transform: translateX(-0%);
        -ms-transform: translateX(-0%);
        -o-transform: translateX(-0%);
    }

    100% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
}

.alert .fa-check,.alert .fa-exclamation-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 30px;
}

.alert .msg {
    padding: 0 20px;
    font-size: 18px;
}

.alert .close-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    padding: 20px 18px;
    cursor: pointer;
}

.alert .close-btn:hover .fa-times {
    transition: 0.3s;
    color: var(--bs-green);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.alert .close-btn .fa-times {
    color: #fff;
    font-size: 22px;
    line-height: 40px;
}
.participant{
    margin: 0 60px;
    text-align: center;
}
.participant .form-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: start;
}
.modal{
    z-index: 1050;
}
.filter_service{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.filter_service .service_item {
    font-size: 14px;
    margin: 10px;
    color: var(--primary);
    text-transform: uppercase;
    border-radius: 50px;
    text-decoration: none;
    outline: none;
    padding: 10px 16px;
    cursor: pointer;
    box-shadow: 0px 12px 32px rgb(39 69 190 / 10%);
    border: 1px solid var(--bs-primary);
}
.filter_service .service_item:hover {
    color: #fff;
    background-color: var(--bs-primary);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.lbl_img_upload {
    background-color: gray;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    padding: 0.5rem;
    border-radius:5rem;
    -webkit-border-radius:5rem;
    -moz-border-radius:5rem;
    -ms-border-radius:5rem;
    -o-border-radius:5rem;
}
#file-chosen {
    margin-left: 0.3rem;
    font-family: sans-serif;
}
.place{
    margin: 0 60px;
    text-align: center;
}
.place .form-part{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.periode{
    display: flex !important;
    margin-bottom: 1.5rem !important;
    align-items: center !important;
    justify-content: space-around !important;
}
.date-periode {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 10px;
}
.statistics-both{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}
.statistics-three{
    display: flex;
    flex-wrap: wrap;
}
.modal-bodyF{
    max-height: 300px;
    overflow-y: scroll;
}
.filtre{
    display: flex !important;
    margin-bottom: 1.5rem !important;
    align-items: center !important;
    justify-content: center !important;
}
.filtre .form-label{
    margin-right: 10px;
}
.filtre_item{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    margin: 10px 25px;
}
.filter_select{
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 10px;
}
/*charts*/
.graphBox{
    position: relative;
    width: 100%;
    padding: 20px;
    grid-gap: 30px;
    min-height: 200px;
}
.graphBox .box{
    position: relative;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
}
.rowCouv{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
}
.card {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    margin: 0 10px;
}
.card-header{
    background-color: var(--bs-primary);
}
.card-header p{
    font-size: 30px;
    font-weight: bolder;
}
.card-footer{
    background-color:#fff!important;
}
.shadow-dark {
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(64 64 64 / 40%) !important;
}
.text-center {
    text-align: center !important;
}
.mt-n4 {
    margin-top: -1.5rem !important;
}
.position-absolute {
    position: absolute !important;
}
.cardCauseBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.cardCauseBox .cardCause{
    position: relative;
    background: #fff;
    padding: 30px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content:space-between;
    /* cursor: pointer; */
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.cardCauseBox .cardCause .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--bs-primary);
}
.cardCauseBox .cardCause .cardName{
    color: #191C24;
    font-size: 2em;
    margin-top: 5px;
}
.cardCauseBox .cardCause .iconBox{
    font-size: 3.5em;
    color: #212529;
}
.cardCauseBox .cardCause:hover{
    background-color: var(--bs-primary);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.cardCauseBox .cardCause:hover .numbers,.cardCauseBox .cardCause:hover .iconBox,
.cardCauseBox .cardCause:hover .cardName{
    color: #fff;
}
.dure-both{
    display: flex;
    justify-content: center;
    align-items: center;
}
.unite {
    width: 200px;
}
.prgm-zone{
    display: grid;
    align-items: baseline;
    justify-content: space-around;
    grid-template-columns: repeat(2,1fr);
}
.liste_affec{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
}
.liste_affec > * {
	margin-bottom: 10px;
    background: #41464b;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5rem;
    color: #fff;
}
.liste_affec > :nth-of-type(2n) {
	background: brown;
}
.btn-prgm{
    font-weight: 700;
    color: #fff;
}
.matricule{
    display: none;
}
/*Rapport*/
.title-rapport{
    font-size: 30px;
    font-weight: 900;
}
.sous-pole-table table tr th {
    background: grey;
}
.pole {
    text-align: center;
    color: var(--bs-primary);
    font-size: 25px;
    font-weight: 700;
}
.sous-pole{
    text-align: center;
    font-size: 18px;
    margin-bottom: 1rem;
}
.pole-center{
    display: flex;
    justify-content: center;
}
.perm_modal {
    grid-template-columns: repeat(1,1fr)!important;
}
.box-item{
    font-size: 18;
    font-weight: bolder;
}
.div-select{
    display: flex;
    justify-content: center;
    align-items: center;
}
.societe{
    display: none;
}
.societe-db{
    width: 70%;
    margin-left: 10px;
}
.supp-img{
    display: flex;
    justify-content: center;
}
.supp-img:hover img {
    transform: scale(1.1);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.table-dash{
    max-height: 290px !important;
}

@media (max-width:576px) {
    .statistics-both{
        flex-direction: column;
        margin-left: auto;
        justify-content: center;
    }
    .periode{
        flex-direction: column;
    }
    .graphBox{
        grid-template-columns: 1fr;
        /* height: auto; */
    }
    .rowCouv{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .cardCauseBox{
        grid-template-columns: repeat(1,1fr);
        padding: 0;
    }
    .cardCauseBox .cardCause{
        flex-direction:column-reverse ;
    }
    .top-pictures{
        margin-top: 6rem;
    }
    .logo-login {
        width: 100px;
        height: 100px;
    }
    .pos_login {
        margin-left: 0;
        margin-right: 0;
    }
    .div-select{
        flex-direction: column;
    }
    .box{
        margin-left: 10px;
    }
}
.dash{
    display: none;
}
.center-body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}
.loader-circle-48 {
	position: relative;
	width: 70px;
	height: 70px;
}
.loader-circle-48:after,
.loader-circle-48:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0px;
	margin: auto;
	border: 8px solid red;
	border-radius: 50%;
}
.loader-circle-48:after {
	transform: rotate(90deg);
	animation: loader-circle-48-spin 4s linear infinite, loader-circle-48-pulse 1s linear infinite alternate;
}
.loader-circle-48:before {
	animation: loader-circle-48-spin2 4s linear infinite, loader-circle-48-pulse 1s linear infinite alternate;
}
@keyframes loader-circle-48-spin {
	100% {
		transform: rotate(450deg);
	}
}
@keyframes loader-circle-48-spin2 {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes loader-circle-48-pulse {
	0% {
		width: 5px;
		height: 70px;
	}
	100% {
		width: 70px;
		height: 5px;
	}
	0% {
		width: 5px;
		height: 70px;
	}
}
